body {
	font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
	background: #fff;
	color: #202124;
	justify-content: center;
	align-items: center;
}

header {
	flex-direction: column;
	align-items: center;
	padding: 0;
}

header h1{
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding-top: 16px;
}

header p{
	font-size: 16px;
	font-weight: normal;
}

a{
	color: #1a73e8;
}

#login-main{
	height: auto;
	margin-top: 48px;

}

#login-main section{
	width: 448px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	border: 1px solid #dadce0;
	border-radius: 8px;
}

section svg{
	margin-top: 48px;
}

section > div{
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 0 40px;
}

section > div > a{
	font-size: 14px;
	font-weight: bold;
	margin-top: 8px;
}

section > div > p{
	margin-top: 45px;
}

section > div > p > a{
	font-weight: bold;
}

section > div > div{
	margin-top: 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

section > div > div > button{
	background-color: transparent;
	border: none;
	width: 110px;
	transition: all .3s;
}

section > div > div > button:hover{
	background-color: #90bcec24;
}

section > div > div > button:nth-child(1){
	color: #1a73e8;
}

section > div > div > button:nth-child(2){
	background-color: #1a73e8;
	color: #fff;
}

section > div > div > button:nth-child(2) > a{
	font-weight: bold;
	color: #fff;
}

#next:hover{
	background-color: #0651b9;
}

main input{
	/*padding: 15px 13px;*/
	width: 368px;
	height: 56px;
	border-radius: 4px;
	background-color: transparent;
	border: 1px solid #dadce0;
	margin-right: 0;
	margin-left: 0;
	font-size: 16px;
	margin-top: 24px;
	padding: 15px 13px;
	transition: all .3s;
}

main input:hover{
	background-color: rgba(71, 71, 75, 0.07);
	border: 1px solid transparent;
}

footer{
	display: flex;
	justify-content: space-between;
}

footer > div{
	padding: 15px 30px;
	border-bottom: none;
	font-size: 12px;
	color: #3c4043;
	background-color: transparent;
}

footer > div > div{
	display: flex;
	gap: 30px;
}

section p{
	font-size: 14px;
}

footer > div{
	display: flex;
	gap: 25px;
	padding: 20px 0;
	color: #000;
}

footer div a{
	color: #3c4043;
}

footer > div > select{
	background-color: transparent;
	border: none;
	width: 180px;
}
